# Exercise: Sequential Datatype


**For all tasks:** Write down (with pencil and paper (or electronically ;-)!):

What is the output of the cells when you start them (with the `run`-button or Ctrl+Enter).\
Use the enclosed Jupyter notebook only to check your answers!

### Task 01

In [1]:
first_name = "Henry"  
last_name = "Miller"
age = 20
print (first_name + " " + last_name + ": " + str(age))

Henry Miller: 20

In [ ]:
# Henry Miller: 20

### Task02

In [2]:
l = [3,5,4]
x = 4
x = 4.5
x = "One String"
print(type(l))
print(type(x))

<class 'list'>
<class 'str'>

In [ ]:
# list
# string

In [3]:
x = (3,89,67)
print(isinstance(x, tuple))

True

In [ ]:
# True

In [4]:
x = 4
print(isinstance(x, int) or isinstance(x, float))

True

In [ ]:
# True

In [5]:
x = (89, 123, 898)
print(isinstance(x, (list, tuple)))
print(isinstance(x, (int, float)))

True
False

In [ ]:
# True
# False

### Task03

In [6]:
x = 24
y = 7
x == (x // y) * 3 + (x % y)     # If you have trouble ... jump! 
print(x)

24

In [ ]:
# 24

### Task04  ( if you have trouble ... jump!)

In [7]:
s = "I'm across several lines \
defined, to be precise \
four lines!"
print(s)

I'm across several lines defined, to be precise four lines!

In [ ]:
# I'm across several lines defined, to be precise four lines!

In [8]:
s = """First line
Second line
Third line \
and I'll say something too! """
print(s)


#Erste Zeile
#Zweite Zeile
# Dritte Zeile und ich sage auch noch was!

First line
Second line
Third line and I'll say something too!

In [ ]:
# First line
# Second line 
# and I'll say something too!

In [9]:
s = "\nOne line \nwhat does it say?"
print(s)

One line
what does it say?

In [ ]:
# 
# One line
# what does it say?

### Task05

In [10]:
x = 3, 99, "A text"
print(x)

(3, 99, 'A text')

In [ ]:
# (3, 99, 'A text')

In [11]:
minimum, maximum, text = 3, 99, "a text"
print(minimum)

3

In [ ]:
# 3

### Task06

In [12]:
text = "Hallo HSLU"
print(text[7])

S

In [ ]:
# S

In [13]:
text = "A text!"
print(text[-1])

!

In [ ]:
# !

In [14]:
l = [42, 65 , [45, 89], 88]
print(l[3])
print(l[2][1])

88
89

In [ ]:
# 88
# 89

In [15]:
l[0] = "A new value"
print(l)

['A new value', 65, [45, 89], 88]

In [ ]:
# ["A new value", 65, [45, 89], 88]

In [16]:
t = (42, 65 , (45, 89), 88)    # t is a tuple!!
print(t[0])
print(t[2][0])

42
45

In [ ]:
# 42
# 45

In [17]:
print(t)
t[0] = "@"
print(t)

(42, 65, (45, 89), 88)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# (42, 65 , (45, 89), 88)
# TypeError: 'tuple' object does not support item assignment

### Task07

In [18]:
txt = "Hello HSLU"
print(txt[0:5])
print(txt[0:-6])
print(txt[:5])

Hello
Hell
Hello

In [ ]:
# Hello
# Hell
# Hello

In [19]:
txt = "Python is really great"
print(txt[2:15:3])
print(txt[::3])

tnsel
Ph  ayrt

In [ ]:
# tnsel
# Ph  ayrt

In [20]:
x = [3, 6, 9, 12, 7]
print(x[3:1:-1])
print(x[::-1])

[12, 9]
[7, 12, 9, 6, 3]

In [ ]:
# 12, 9
# 7, 12, 9, 6, 3

### Task08

In [21]:
hamlet = "to be or not to be"
print(len(hamlet))

18

In [ ]:
# 18

In [23]:
mishmash = [(3,8,"Blabla"), "a string", [(3.8, 9), 19]]
print(len(mishmash))

3

In [22]:
# 3